body {
    font-family:sans-serif;
}
* {
    box-sizing: border-box;
  }
h1{
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 70px;
    font-size: 40px;
    font-size: 4em;
    color: #312e57;
    text-align: center;

}
h2{
    font-family: "Anek Gujarati", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    font-size: 2em;
    color: #3d3a75;
    text-align:center;

}
h3{
    font-family: "Anek Gujarati", sans-serif;
    font-weight: 800;

    font-size:20px;
    font-size:1.2em;
    padding: 0.1em;
    margin: 0;
    color: #595598;

}
p {
    font-family: "Anek Gujarati", sans-serif;
    font-weight: 400;

    font-size: 30px;
    font-size: 1em;
    vertical-align: middle;

}

.caption {
    font-size: 10px;
    font-size: 0.8em;
    color: rgb(103, 97, 105);
    align-self:center;
}

.p_container {
    flex: 1 1 40em;
    vertical-align: top;
    margin: 1em;
    border-top: 5px solid #9e9ad2;
    padding: 1em;

}

.flexy {
    display:flex;
    flex-flow: row wrap;
    max-width:100%;
    align-items: stretch;
    justify-content: space-around;
    background-color: #f0efff;
    padding: 1em;
    border-radius: 25px;
}

.unsplashed_container_vert {
    text-align: center;
    flex: 0 1 20vw;
    display: flex;
    align-items: center;

}

.unsplashed_container {
    text-align: center;
    flex: 0 1 40vw;

}
.unsplashed_photo {
    object-fit: contain;
    width: 100%;

}

.round_img {
    border: 5px solid #312e57;
    border-radius: 10%;
}
.divider {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #ffffff;
    height: 1em;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #343246;
    position: fixed;
    top:0;
    left:0;
    
}
.nav_element{
    float:left;
    font-size: 1.25em;
    font-family: "Anek Gujarati", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.nav_element a{
    display: block;
    color: #312e57;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    color: white;
}
.nav_element a:hover {
    background-color: #c5c3e2;
    color: #312e57;
}

