<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <ul class="navbar">
        <li class="nav_element"><a href="{{ url_for('index')}}">Personal Projects</a></li>
        <li class="nav_element"><a href="{{ url_for('school')}}">School Projects</a></li>
        <li class="nav_element"><a href="{{ url_for('about')}}">About</a></li>
    </ul> 
    {% block body %}{% endblock %}

</body>
</html>